<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="soportecliente@itris.com.ar">
                <network defaultCredentials="false" host="localhost" password="" port="256" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".log" mimeType="text/log" />
        </staticContent>
    </system.webServer>
</configuration>
